.bgtransparent{
    z-index: 999;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.185);
}

.boxitempopup{
    position: absolute;
    max-width: 100vh;
    max-height: 100vh;
    background-color: rgb(198, 198, 153);
}

/* .boxitempopup img{
    position: relative;
    display: block;
    max-width: 0%;
    max-height: calc(100vh - 120px);
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
} */

.boxitempopup p{
    position: relative;
    text-align: center;
    color: rgb(14, 6, 6);
    margin: 20px;
}

.lyrics{
    position: relative;
    white-space: pre-line;
}